.hostel_container {
  margin-top: 2rem;
}

.hostel_heading {
  color: grey;
  font-size: 27px;
  margin-bottom: 1rem;
}

.cellAction {
  display: flex;
  align-items: center;
  gap: 15px;
}

.viewButton {
  padding: 2px 5px;
  border-radius: 5px;
  color: darkblue;
  border: 1px dotted rgba(0, 0, 139, 0.596);
  cursor: pointer;
}

.updateButton {
  padding: 2px 5px;
  border-radius: 5px;
  color: #8d0097;
  border: 1px dotted rgb(209 42 188 / 60%);
  cursor: pointer;
}

.deleteButton {
  padding: 2px 5px;
  border-radius: 5px;
  color: crimson;
  border: 1px dotted rgba(220, 20, 60, 0.6);
  cursor: pointer;
}

.approveButton {
  padding: 2px 5px;
  border-radius: 5px;
  color: green;
  border: 1px dotted #147a14;;
  cursor: pointer;
}
